* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 30px;
}

header p,
h1 {
    color: white;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}
main {
    width: 50%;
    padding: 20px;
    font-family: 'Playfair Display', serif;
    color: black;
}