@media screen and (min-width: 760px) {
    #burguer{
        display: none;
    }
    
    menu{
        display: block;
    }

    menu.aberto{
        display: block;
    }

    menu ul{
        text-align: left;
    }

    menu > ul > li{
        display: inline-block;
        border: 1px solid black;
    }

    main{
        width: 760px;
        margin: auto;
    }
}